body {
  background-image: url('../images/pattern-background-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: #3829E0;
}

a:hover {
  color: #9567FF;
}

.ap {
  font-weight: bold;
}

.p1 {
  width: 80%;
  margin: 0 auto;
  color: gray;
}

.p2 {
  width: 30%;
  text-align: left;
}

.p3 {
  text-align: right;
  width: 40%;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 25%;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
  text-align: center;
}

.header-img {
  max-width: 100%;
  min-width: 100%;
}

.music-icon {
  width: 50%;
  margin: 20px;
}

.plan {
  width: 90%;
  margin: 20px auto;
  background-color: hsl(225, 100%, 98%);
}

.proceed-button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-size: 25px;
   font-weight: 100;
   padding: 10px;
   color: white;
   background-color: #3829E0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   width: 75%;
   margin-bottom: 30px;
}

.proceed-button:hover {
   background: #9567FF;
   border: solid #9567FF 1px;
   color: white;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.cancel {
  margin-bottom: 30px;
}

#cancel-btn {
  text-decoration: none;
  color: gray;
}

#cancel-btn:hover {
  color: #9567FF;
}
